#square {
    width: 100px;
    height: 100px;
    background: orange;
    position: absolute;
    left: 0;
    top: 400;
  }

  #cat {
      width: 400px;
      height: 400px;
      position: absolute;
      left: 0;
      top: 500;
    }

  .stuff{
    background: gold;
    color:white;
  }

  #third{
    background: silver;
    color:white;
  }

  body{
      background-color: maroon;
  }
