#square {
    width: 100px;
    height: 100px;
    background: orange;
    position: absolute;
    left: 0;
    top: 400;
  }

   cat.jpg{
     width: 200px;
     height: 200px;
}

  .stuff{
    background: gold;
    color:white;
  }

  #third{
    background: silver;
    color:white;
  }

  body{
      background-color: maroon;
  }
