um.jpg{
   width: 400px;
   height: 400px;
   text-align: center
}

.stuff{
  background: gray;
  color:black;
  text-align: center
}

#third{
  background: gray;
  color:black;
  text-align: center
}

body{
    background-color: gray;
    text-align: center
}